.projects-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px
}
  
.form-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}
  
  
  