.projects-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;

}
  
.form-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}
  
.separator {
    width: 30%;
    height: 2px;
    background-color: #000046;
    border: none;
} 

.title-projects {
    padding-top: 30px;
    color: #000046;
    margin: 0; 
    flex-grow: 1; 
    text-align: center; 
  }
  