* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit", serif;
  background-color: #F5F5F5;
  padding-top: 60px;
}

button {
  all: unset; 
  display: inline-block; 
  background-color: transparent; 
  color: inherit;
  border: none; 
  padding: 0; 
  font-size: inherit;
  cursor: pointer; 
}





